<div class="card mt-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="card-body">
        <form action="/search" class="">
            <div class="form-group">
                <input name="q" type="text" class="form-control " placeholder="Search">

            </div>
            <button type="submit" class="btn btn-success mt-2">Search</button>
        </form>

    </div>
</div>

